.crousel-section{
    margin-bottom:30px ; 
    

}
.container{
    width: 1050px;
    
    
    
}

.carousel__item-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 1050px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 5%, rgba(0,0,0,0) 100%), url("./../img/carousel/slide_1.png") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius:6px ;

}
.carousel__item-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 1050px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 5%, rgba(0,0,0,0) 100%), url("./../img/carousel/slide_2.png") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius:6px ;

}
.carousel__item-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 1050px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 5%, rgba(0,0,0,0) 100%), url("./../img/carousel/slide_3.png") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius:6px ;

}
.carousel__item-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 1050px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 5%, rgba(0,0,0,0) 100%), url("./../img/carousel/slide_4.png") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius:6px ;

}
.carousel__item-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 1050px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 5%, rgba(0,0,0,0) 100%), url("./../img/carousel/slide_5.png") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius:6px ;

}

.carousel__item-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 1050px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 5%, rgba(0,0,0,0) 100%), url("./../img/carousel/slide_6.png") ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius:6px ;

}
.carousel__item-title{
    margin-bottom: 60px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    &:hover{
        color: $blue;
        text-decoration: none;
    }

}
.carousel__item-text{

    color: rgba(255,255,255,0.5);
    font-size: 14px;
    font-weight: 700;
    line-height: 2.15;
}